<section class="content exam-ex-container">
  <h2><%= exam.unitHeading %></h2>
  <%- include('../_exerciseHeader.ejs') %>
  <form id="exam-one" action="/exams/one" method="post">
    <div class="exam-container">
      <div class="true-false-container">
        <h3>True or False?</h3>
        <div>
          <label class="exercise" for="tf1"
            >Lorem ipsum dolor sit amet consectetur.</label
          >
          <select id="tf1" name="ex1a">
            <option selected disabled value=""></option>
            <option value="T">T</option>
            <option value="F">F</option>
          </select>
        </div>
        <div>
          <label class="exercise" for="tf2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </label>
          <select id="tf2" name="ex1b">
            <option selected disabled value=""></option>
            <option value="T">T</option>
            <option value="F">F</option>
          </select>
        </div>
        <div>
          <label class="exercise" for="tf3">Lorem ipsum dolor sit amet.</label>
          <select id="tf3" name="ex1c">
            <option selected disabled value=""></option>
            <option value="T">T</option>
            <option value="F">F</option>
          </select>
        </div>
        <div>
          <label class="exercise" for="tf4">
            Lorem ipsum dolor sit, amet consectetur adipisicing.
          </label>
          <select id="tf4" name="ex1d">
            <option selected disabled value=""></option>
            <option value="T">T</option>
            <option value="F">F</option>
          </select>
        </div>
        <div>
          <label class="exercise" for="tf5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </label>
          <select id="tf5" name="ex1e">
            <option selected disabled value=""></option>
            <option value="T">T</option>
            <option value="F">F</option>
          </select>
        </div>
      </div>

      <div class="multiple-choice-container">
        <h3>Exercise 2</h3>
        <p class="exercise">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
          perspiciatis!
        </p>
        <div>
          <div>
            <label for="cba1">Option 1</label>
            <input id="cba1"" type="checkbox" name="ex2a" value="T"/>
          </div>
          <div>
            <label for="cba2">Option 2</label>
            <input id="cba2" type="checkbox" name="ex2b" value="F" />
          </div>
          <div>
            <label for="cba3">Option 3</label>
            <input id="cba3" type="checkbox" name="ex2c" value="F" />
          </div>
        </div>
        <p class="exercise">Lorem ipsum dolor sit amet.</p>
        <div>
          <div>
            <label for="cbb1">Option 1</label>
            <input id="cbb1"" type="checkbox" name="ex2d" value="F"/>
          </div>
          <div>
            <label for="cbb2">Option 2</label>
            <input id="cbb2" type="checkbox" name="ex2e" value="T" />
          </div>
          <div>
            <label for="cbb3">Option 3</label>
            <input id="cbb3" type="checkbox" name="ex2f" value="T" />
          </div>
        </div>
        <p class="exercise">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div>
          <div>
            <label for="cbc1">Option 1</label>
            <input id="cbc1"" type="checkbox" name="ex2g" value="T"/>
          </div>
          <div>
            <label for="cbc2">Option 2</label>
            <input id="cbc2" type="checkbox" name="ex2h" value="F" />
          </div>
          <div>
            <label for="cbc3">Option 3</label>
            <input id="cbc3" type="checkbox" name="ex2i" value="T" />
          </div>
        </div>
        <p class="exercise">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt.
        </p>
        <div>
          <div>
            <label for="cbd1">Option 1</label>
            <input id="cbd1"" type="checkbox" name="ex2j" value="T"/>
          </div>
          <div>
            <label for="cbd2">Option 2</label>
            <input id="cbd2" type="checkbox" name="ex2k" value="T" />
          </div>
          <div>
            <label for="cbd3">Option 3</label>
            <input id="cbd3" type="checkbox" name="ex2l" value="T" />
          </div>
        </div>
        <p class="exercise">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
        <div>
          <div>
            <label for="cbe1">Option 1</label>
            <input id="cbe1"" type="checkbox" name="ex2m" value="F"/>
          </div>
          <div>
            <label for="cbe2">Option 2</label>
            <input id="cbe2" type="checkbox" name="ex2n" value="T" />
          </div>
          <div>
            <label for="cbe3">Option 3</label>
            <input id="cbe3" type="checkbox" name="ex2o" value="F" />
          </div>
        </div>
      </div>

      <div class="match-container">
        <h3>Exercise 3</h3>

        <div class="mc-item">
          <label class="exercise" for="ma1">Item 1</label>
          <select id="ma1" name="ex3a">
            <option selected disabled value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
          </select>
          <div>Item A</div>
        </div>

        <div class="mc-item">
          <label class="exercise" for="ma2">Item 2</label>
          <select id="ma2" name="ex3b">
            <option selected disabled value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
          </select>
          <div>Item B</div>
        </div>

        <div class="exercise" class="mc-item">
          <label for="ma3">Item 3</label>
          <select id="ma3" name="ex3c">
            <option selected disabled value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
          </select>
          <div>Item C</div>
        </div>

        <div class="mc-item">
          <label class="exercise" for="ma4">Item 4</label>
          <select id="ma4" name="ex3d">
            <option selected disabled value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
          </select>
          <div>Item D</div>
        </div>

        <div class="mc-item">
          <label class="exercise" for="ma5">Item 5</label>
          <select for="ma5" name="ex3e">
            <option selected disabled value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
          </select>
          <div>Item E</div>
        </div>
      </div>

      <div class="fill-gaps-container">
        <h3>Exercise 4</h3>

        <div>
          <input type="text" name="ex4a" />
          <input type="text" name="ex4b" />
          <input type="text" name="ex4c" />
        </div>
        <div>
          <input type="text" name="ex4d" />
          <input type="text" name="ex4e" />
          <input type="text" name="ex4f" />
        </div>
        <div>
          <input type="text" name="ex4g" />
          <input type="text" name="ex4h" />
          <input type="text" name="ex4i" />
          <input type="text" name="ex4j" />
        </div>
      </div>
    </div>
  </form>
</section>
<button class="submit-exam" type="submit" form="exam-one" id="submit-exam-btn">
  Submit
</button>
