<header>
    <nav>
        <a href="/">E-Learning App</a>
        <ul>
            <li><a href="/studying_material">Studying Material</a></li>
            <li><a href="/tests">Tests</a></li>
            <li><a href="/users/profile">My Stats</a></li>
        </ul>
    </nav>
</header>