<header>
  <nav class="header-nav">
    <a class="header-title" href="/">E-Learning App</a>
    <ul>
      <li><a href="/studying_material">Studying Material</a></li>
      <li><a href="/exams">Tests</a></li>
      <li><a href="/users/profile">My Stats</a></li>
    </ul>
  </nav>
</header>
