<% if (!user) { %>
<ul>
  <li><a href="/users/login">Login</a></li>
  <li><a href="/users/register">Register</a></li>
</ul>
<% } else if (user.username && user.email && user.password) { %>
<form action="/users/logout?_method=DELETE" method="POST">
  <button type="submit" class="log-out-btn">Log Out</button>
</form>
<% } %>
