<% if (!user) { %>
    <a href="./users/login">Login</a>
    <a href="./users/register">Register</a>
<% } else { %>
    <form action="/users/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
<% } %>
