<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/switch-exercise-tab.js" defer></script>
    <script src="/scripts/dropdown-action.js" defer></script>
    <script src="/scripts/popup-messages.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/atom-one-dark.min.css"
      integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a class="skip-nav-link" href="#main-content">skip navigation</a>
      <nav class="header-nav bg-clr-hdr">
        <a class="header-title grid-col-span-2" href="/">eLearn</a>
        <% if (!user) { %>
        <ul class="header-sign-menus grid-row-span-2">
          <li><a href="/users/login">Σύνδεση</a></li>
          <li><a href="/users/register">Εγγραφή</a></li>
        </ul>
        <% } else if (user.username && user.email && user.password) { %>
        <form action="/users/logout?_method=DELETE" method="POST">
          <button type="submit" class="log-out-btn grid-row-span-2">
            Αποσύνδεση
          </button>
        </form>
        <% } %>
        <ul class="header-submenus grid-col-span-2">
          <li><a href="/studying_material">Ενότητες</a></li>
          <li>
            <div class="dropdown" data-dropdown>
              <button class="link" data-dropdown-button>Διαγωνίσματα</button>
              <div class="dropdown-menu">
                <div class="dropdown-links bg-clr-hdr">
                  <a href="/exams/one" id="exam-one-btn">Ενότητα 1</a>
                  <a href="/exams/two" id="exam-two-btn">Ενότητα 2</a>
                  <a href="/exams/three" id="exam-three-btn">Ενότητα 3</a>
                  <% if (user && user.exams.length >= 3) { %>

                  <a href="/exams/final" id="exam-final-btn"
                    >Τελικό Διαγώνισμα</a
                  >
                  <% } %>
                </div>
              </div>
            </div>
          </li>
          <li><a href="/users/profile">Προφίλ</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-content">
      <div class="inner-container"><%- body %></div>
    </main>
  </body>
</html>
