<h2>Welcome!</h2>

<div class="main-page content">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magnam
  obcaecati similique harum beatae necessitatibus nulla, fuga aperiam natus nam
  dolorum aliquam, facilis aliquid, quisquam incidunt voluptate itaque sint quis
  voluptas ullam. Accusamus, nihil error. Quod dolore inventore et magnam. Minus
  necessitatibus vitae esse, harum iste ullam quasi cumque. Quam molestiae
  commodi atque ad voluptates ipsam temporibus sit, quo tempore consectetur
  voluptatum ipsa suscipit sapiente rerum, fugit nulla non voluptas.
</div>
