<section class="content bg-clr-contrast main-page introduction">
  <div>
    <h2>Καλωσήρθες!</h2>
    <img src="/images/uniwa_emblem.png" alt="uniwa-logo" />
  </div>
  <article>
    <h3>Εισαγωγή</h3>
    <div>
      <p>
        Η εφαρμογή αυτή δημιουργήθηκε για το μάθημα
        <strong>Ηλεκτρονική Μάθηση</strong>, του
        <strong
          ><a href="http://www.ice.uniwa.gr/" target="_blank"
            >Τμήματος Μηχανικών Πληροφορικής & Υπολογιστών</a
          ></strong
        >
        του
        <strong
          ><a href="https://www.uniwa.gr/" target="_blank"
            >Πανεπιστημίου Δυτικής Αττικής</a
          ></strong
        >.
      </p>
    </div>
  </article>
  <article>
    <h3>Σκοπός</h3>
    <div>
      <p>
        Βασικός σκοπός της εφαρμογής είναι ο καλός σχεδιασμός και υλοποίηση
        εκπαιδευτικού λογισμικού.
      </p>
      <p>
        Για να το πετύχουμε αυτό, σχεδιάσαμε την γραφική διεπαφή ώστε να είναι
        <strong>απλή</strong>, με <strong>ευδιάκριτο περιεχόμενο</strong>, και
        δίνουμε έμφαση στην <strong>προσβασιμότητα</strong>, χρησιμοποιόντας
        καλές τεχνικές σχεδιασμού ιστοσελίδων.
      </p>
    </div>
  </article>
  <article>
    <h3>Πρώτα βήματα</h3>
    <div>
      <p>
        Για να ξεκινήσεις να χρησιμοποιείς την εφαρμογή, κάνε
        <strong><a href="/users/register">Εγγραφή</a></strong
        >, ή συνδέσου με τα παρακάτω στοιχεία.
      </p>
      <p>
        <strong>Email:</strong> example@example.com<br /><strong
          >Password:</strong
        >
        example
      </p>
      <p>
        <strong>Σημείωση:</strong> Για λόγους απλότητας και ασφάλειας συνιστάται
        η χρήση <strong><u>ψευδών</u></strong> στοιχείων σύνδεσης. Η εφαρμογή
        κρυπτογραφεί μόνο κωδικούς πρόσβασης, και δεν χρησιμοποιείται κάποιο API
        επαλήθευσης ηλεκτρονικής διεύθυνσης ταχυδρομίου.
      </p>
    </div>
  </article>
</section>
