<section class="content bg-clr-contrast">
  <h2 class="fg-clr-light">Unit 1</h2>
  <article>
    <h3>Variables</h3>
    <div class="content-grid">
      <p class="grid-col-span-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
        reiciendis mollitia similique aut at maxime molestias, perferendis dicta
        consequatur, ullam animi. Minima veritatis delectus, incidunt ea, nulla
        voluptatibus reprehenderit neque at iste nam voluptates placeat modi
        aliquid, iusto adipisci! Neque cumque non sint fugit sequi saepe, optio
        libero iste? Magnam reiciendis molestias ullam, itaque veritatis labore
        nisi, delectus aut quam libero repellat culpa nostrum dolore facilis nam
        incidunt aspernatur aperiam temporibus eius illo?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a quo,
        illo nostrum quam reiciendis adipisci dolorem vel porro accusantium
        ipsa? Totam est delectus officia quaerat, ipsa voluptates sed aut.
      </p>
      <div class="code-grid">
        <pre><code class="java">public class Main {
  public static void main(String[] args) {
    System.out.println("Hello World");
  }
}</code></pre>
      </div>
      <p class="grid-col-span-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
        officia velit excepturi aliquam perferendis suscipit asperiores unde
        sequi sint molestiae dolorum doloremque, vel eaque! Nostrum,
        perferendis. Vitae magni, fugiat numquam tempore ipsum dignissimos!
        Aspernatur, iure, error vitae numquam minima eligendi assumenda tempore
        tenetur odio illum sunt amet, sequi qui? Harum! Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Neque omnis repudiandae voluptates
        dolore similique quae quaerat. Sunt adipisci ducimus sint? Temporibus,
        earum. Mollitia, aut. Eum non aspernatur accusantium dolor quod. Iure
        reiciendis ex quisquam nisi, dolorum aspernatur eum necessitatibus illo
        veritatis amet. Quaerat architecto voluptatibus eum, aliquid deserunt ad
        asperiores nisi dignissimos fugit quis eveniet magnam! Iure dolorum,
        architecto rem corporis incidunt quos fugit id debitis tempore
        perferendis tempora assumenda iste blanditiis nihil exercitationem
        dignissimos reiciendis nobis neque officiis temporibus odit hic beatae
        fuga. Assumenda laboriosam, aperiam facilis aliquam suscipit sed
        distinctio, officia possimus expedita autem ex iure corrupti veritatis.
      </p>
    </div>
  </article>
</section>
<div class="fade-in popup-msg">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, impedit.
</div>
<section class="content bg-clr-contrast unit-theory">
  <h2 class="fg-clr-light">Unit 2</h2>
  <article>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi officia
      quidem iure minima debitis quam quis quasi numquam rem, odit earum
      repellat quo delectus mollitia aperiam praesentium reprehenderit omnis
      quibusdam cupiditate eos ex iusto? Id sit culpa tenetur voluptatum!
      Doloremque amet, aspernatur velit error quam facilis autem consequuntur
      mollitia beatae adipisci unde rerum reprehenderit eligendi repellat
      deleniti dolores pariatur sit officia natus qui dicta at a. Totam illo
      expedita sit unde, saepe harum enim debitis alias vitae architecto nostrum
      accusantium delectus, reiciendis repellendus libero perferendis
      exercitationem vero tenetur nam blanditiis minima? Id tempora atque
      assumenda illum temporibus!
    </p>
  </article>
</section>
<div class="fade-in popup-msg">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, impedit.
</div>
<section class="content bg-clr-contrast unit-theory">
  <h2 class="fg-clr-light">Unit 3</h2>
  <article>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
      itaque quidem dolorum pariatur vero adipisci dignissimos ea officia
      necessitatibus harum exercitationem dolor tenetur amet minus quibusdam
      velit et atque repellat, molestiae sunt quod modi sint! Possimus pariatur
      corrupti non minus. Repudiandae itaque doloribus atque dolorem animi
      fugiat asperiores voluptates dolor, alias perferendis officiis at
      recusandae dicta laboriosam necessitatibus veritatis, iure voluptatem
      error nemo quam quod obcaecati reprehenderit id. Vero cum dolores,
      expedita aut esse excepturi, repudiandae numquam aperiam delectus ab illo
      voluptatum! Saepe eaque delectus esse, eius molestiae numquam aspernatur
      culpa nemo? Quidem velit ex, neque a recusandae voluptatum amet suscipit
      cupiditate saepe facere nisi molestias obcaecati ipsam perspiciatis?
      Delectus sapiente ullam neque commodi hic quae labore, culpa, aliquid fuga
      magni facere natus beatae tempore cum consequatur qui iure nesciunt
      consequuntur. Similique deserunt placeat rerum optio neque aut
      perspiciatis doloremque in voluptate voluptatum reprehenderit, sit
      officiis ducimus doloribus, libero ipsa, molestias atque nihil aliquid
      iste ad repellat! Commodi vero odio, amet doloremque ad dolores. Id, quasi
      delectus.
    </p>
  </article>
</section>
