<div style="background-color: aquamarine;">
    <p>
        // Print a message to the console <br>
        console.<input type="text" style="width:1.5rem">('Hello, world!')
    </p>
    <p>
        // Print the average of the two variables to the console <br>
        let a = 10, b = 3 <br>
        result = <input type="text" style="width:2.5rem"> <br>
        console.log(result)
    </p>
    <p>

    </p>
</div>
<div style="background-color:aqua;">
    <p>Statement 1 - <select><option>T</option><option>F</select></p>
    <p>Statement 2 - <select><option>T</option><option>F</select></p>
    <p>Statement 3 - <select><option>T</option><option>F</select></p>
    <p>Statement 4 - <select><option>T</option><option>F</select></p>
    <p>Statement 5 - <select><option>T</option><option>F</select></p>
</div>
<div style="display: flex; justify-content: space-between; width: 10rem;">
    <div>
        <p>Item 1 - <select><option>A</option><option>B</option><option>C</option><option>D</option></select></p>
        <p>Item 2 - <select><option>A</option><option>B</option><option>C</option><option>D</option></select></p>
        <p>Item 3 - <select><option>A</option><option>B</option><option>C</option><option>D</option></select></p>
        <p>Item 4 - <select><option>A</option><option>B</option><option>C</option><option>D</option></select></p>
    </div>
    <div>
        <p>Item A</p>
        <p>Item B</p>
        <p>Item C</p>
        <p>Item D</p>
    </div>
</div>