.error-message-heading {
  margin-bottom: 0;
}

.error-message-container {
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    to right top,
    rgba(255, 166, 0, 0.5),
    rgba(255, 230, 0, 0.5)
  );
  border-radius: 0.25rem;
  padding: 0.8rem;
  max-width: 20ch;
  font-family: "Gotham Rounded";
  text-align: center;
}

.error-message-container > h4 {
  color: rgb(158, 0, 0);
}
