.exam-nav ul {
  padding: 0;
  margin-bottom: 0;
}

.exam-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.exam-nav li {
  list-style: none;
}

.exam-ex-container {
  max-width: 55ch;
  background-color: #eee;
}

:is(.true-false-container, .match-container) {
  gap: 0.5rem;
}

:is(.true-false-container, .match-container) label {
  background-color: var(--bg-content-paragraph);
  padding: 0.5rem;
}

.true-false-container div {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
}

.match-container div {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 5fr min-content 1fr;
  justify-content: space-between;
}

:is(.true-false-container, .match-container, .multiple-choice-container, .fill-gaps-container) {
  padding: 0 1rem 1rem 1rem;
  border: 2px solid black;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--bg-contrast);
}

.ex-btn {
  width: 100%;
  padding: 0.5rem;
  font-family: "Gotham Rounded";
  border: 2px solid black;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--bg-input);
}

.ex-btn.active {
  transform: translateY(3px);
  background-color: var(--bg-contrast);
}

.exercise {
  border-radius: 0.25rem;
}

.submit-exam {
  font-family: "Didact Gothic", sans-serif;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}

/* results */
.correct-answer {
  background-color: lime;
}

.incorrect-answer {
  background-color: red;
}
