.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.popup-msg {
  font: inherit;
  max-width: 50ch;
  padding: 1rem;
  border-radius: 0.5rem;
  align-content: center;
  color: white;
  background-color: orangered;
}

.centered-text {
  text-align: center;
}
