header {
  font-family: "Gotham Rounded", "Didact Gothic", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 1;
}

.header-nav {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.header-nav a {
  text-decoration: none;
}

.header-nav > :is(ul, form) * {
  font-family: "Didact Gothic", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.header-nav ul {
  list-style: none;
}

.header-nav button {
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 0;
}

.header-nav :is(a, button) {
  color: hsl(var(--clr-theme), 100%, 50%);
}

.header-title {
  font-size: 3rem;
  font-weight: 900;
  max-width: max-content;
}

.header-submenus {
  margin: 0;
  padding-left: 0;
  column-gap: 1rem;
}

.header-sign-menus li {
  text-align: left;
}

@media (min-width: 530px) {
  .header-nav .header-sign-menus {
    display: flex;
    gap: 1rem;
  }
}

@media (min-width: 450px) {
  .header-nav .header-submenus {
    display: flex;
    gap: 1rem;
  }
}

.dropdown.active > .link,
.header-nav a:hover,
.header-nav button:hover {
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: grid;
  min-width: max-content;
}

.dropdown-links {
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.skip-nav-link {
  position: absolute;
  left: 0.5rem;
  padding: 0.25rem 0.5rem;
  font: inherit;
  color: white;
  background-color: var(--bg-contrast);
  border-radius: 0 0 0.25rem 0.25rem;
  transform: translateY(-120%);
  transition: transform 250ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(0);
}
