.sign-grid * {
  font-family: "Gotham Rounded", "Didact Gothic", sans-serif;
}

.sign-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 2rem;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.sign-in-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.sign-grid a {
  text-decoration: none;
}

:is(.sign-suggestion, .sign-submit-btn, .cancel-btn) {
  min-width: 100%;
}

:is(.sign-suggestion, .sign-submit-btn, .cancel-btn, .submit-exam) {
  text-align: center;
  font-size: 1.5rem;
  font-style: inherit;
  margin: 0 auto;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  color: white;
  transition: background-color 150ms ease-in-out, border 150ms ease-in-out;
}

:is(.sign-suggestion, .sign-submit-btn, .cancel-btn, .submit-exam):hover {
  background-color: white;
}

:is(.sign-suggestion, .sign-submit-btn, .submit-exam) {
  background-color: var(--bg-contrast);
}

:is(.sign-suggestion, .sign-submit-btn, .submit-exam):hover {
  color: var(--bg-contrast);
  border-color: var(--bg-contrast);
}

:is(.sign-suggestion, .sign-submit-btn, .submit-exam):active {
  border-color: lime;
  color: lime;
}

.cancel-btn {
  background-color: red;
}

.cancel-btn:hover {
  color: red;
  border-color: red;
}

.credential-input {
  font-size: inherit;
  border: 5px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--bg-input);
}

.credential-input:focus {
  outline: none;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
}
