<div>
  <label for="li-email">Email</label>
  <input id="li-email" type="email" name="email" value="<%= user.email %>" />
</div>
<div>
  <label for="li-password">Password</label>
  <input
    id="li-password"
    type="password"
    name="password"
    value="<%= user.password %>"
  />
</div>
