<div class="sign-grid">
  <h2>Σύνδεση</h2>
  <form
    class="grid-col-span-2"
    id="login-form"
    action="/users/login"
    method="POST"
  >
    <div class="sign-in-grid">
      <!-- <label for="email">Email</label> -->
      <input
        class="credential-input grid-col-span-2"
        id="email"
        type="email"
        name="email"
        placeholder="Συμπλήρωσε το email σου"
        value="<%= user.email %>"
      />
      <!-- <label for="passwd">Password</label> -->
      <input
        class="credential-input grid-col-span-2"
        id="passwd"
        type="password"
        name="password"
        placeholder="Συμπλήρωσε το password σου"
        value="<%= user.password %>"
      />
    </div>
  </form>
  <a href="/" class="cancel-btn">Ακύρωση</a>
  <button class="sign-submit-btn" form="login-form" type="submit">
    Σύνδεση
  </button>
  <a href="/users/register" class="sign-suggestion grid-col-span-2"
    >Δεν έχεις λογαριασμό;</a
  >
</div>

<% if (errors) { %>
<h2 class="error-message-heading">Error</h2>
<div class="error-message-container">
  <h4><%= errors %></h4>
</div>
<% } %>
