<h2 class="generic-heading">Login</h2>
<div class="content-container sign-form">
  <form id="login-form" action="/users/login" method="POST">
    <%- include('_lr_form_fields') %>
  </form>
  <ul>
    <li>
      <span>
        <a href="/" class="cancel-btn">Cancel</a>
        <button form="login-form" type="submit">Login</button>
      </span>
    </li>
    <li>
      <a href="/users/register" class="sign-suggestion"
        >Don't have an account?</a
      >
    </li>
  </ul>
</div>

<% if (errors) { %>
<h2 class="error-message-heading">Error</h2>
<div class="error-message-container">
  <h4><%= errors %></h4>
</div>
<% } %>
