<h2>Login</h2>
<form action="/users/login" method="POST">
    <%- include('_lr_form_fields') %> 
    <button type="submit">Login</button>
</form>
<a href="/">Cancel</a>
<a href="/users/register">Register</a>