<h2 class="generic-heading">Register</h2>
<div class="content-container sign-form">
  <form id="register-form" action="/users/register" method="POST">
    <div>
      <label>Username</label>
      <input type="text" name="username" value="<%= user.username %>" />
    </div>
    <%- include('_lr_form_fields') %>
  </form>
  <ul>
    <li>
      <span>
        <a href="/" class="cancel-btn">Cancel</a>
        <button form="register-form" type="submit">Register</button>
      </span>
    </li>
    <li>
      <a href="/users/Login" class="sign-suggestion"
        >Already have an account?</a
      >
    </li>
  </ul>
</div>

<% if (locals.errorMessage) { %>
<h2 class="error-message-heading">Error</h2>
<div class="error-message-container">
  <h4><%= errorMessage.what %></h4>
  <p><%= errorMessage.help %></p>
</div>
<% } %>
