<h2 class="generic-heading">Register</h2>
<div class="content-container sign-form">
  <form id="register-form" action="/users/register" method="POST">
    <div>
      <label>Username</label>
      <input type="text" name="username" value="<%= user.username %>" />
    </div>
    <%- include('_lr_form_fields') %>
  </form>
  <ul>
    <li>
      <span>
        <a href="/">Cancel</a>
        <button form="register-form" type="submit">Register</button>
      </span>
    </li>
    <li><a href="/users/Login">Already have an account?</a></li>
  </ul>
</div>
