<ul class="exam-links">
  <li><a href="/exams/one" id="exam-one-btn">Unit 1 test</a></li>
  <li><a href="/exams/two" id="exam-two-btn">Unit 2 test</a></li>
  <li><a href="/exams/three" id="exam-three-btn">Unit 3 test</a></li>
</ul>
