<nav class="exercise-header-nav">
  <ul>
    <li><button id="ex1-btn">Exercise 1</button></li>
    <li><button id="ex2-btn">Exercise 2</button></li>
    <li><button id="ex3-btn">Exercise 3</button></li>
    <li><button id="ex4-btn">Exercise 4</button></li>
  </ul>
</nav>
