<nav class="exam-nav">
  <ul>
    <li><button class="ex-btn" id="ex1-btn">Exercise 1</button></li>
    <li><button class="ex-btn" id="ex2-btn">Exercise 2</button></li>
    <li><button class="ex-btn" id="ex3-btn">Exercise 3</button></li>
    <li><button class="ex-btn" id="ex4-btn">Exercise 4</button></li>
  </ul>
</nav>
