<nav class="exam-nav">
  <ul>
    <li><button class="ex-btn" id="ex1-btn">Άσκηση 1</button></li>
    <li><button class="ex-btn" id="ex2-btn">Άσκηση 2</button></li>
    <li><button class="ex-btn" id="ex3-btn">Άσκηση 3</button></li>
    <li><button class="ex-btn" id="ex4-btn">Άσκηση 4</button></li>
  </ul>
</nav>
