<div>
  Ο
  <input type="text" name="ex4a" placeholder="ατέρμων" style="max-width: 8ch" />
  βρόχος εμφανίζεται σε μία δομή
  <input
    type="text"
    name="ex4b"
    placeholder="επανάληψης"
    style="max-width: 11ch"
  />
  όταν δεν έχουμε λάβει υπόψη μας τη συνθήκη που θα σταματάει την επανάληψη.
</div>
<div>
  Οι
  <input type="text" placeholder="getter" style="max-width: 6ch" name="ex4c" />
  και
  <input type="text" placeholder="setter" style="max-width: 6ch" name="ex4d" />
  μέθοδοι χρησιμοποιούνται για να επιστρέψουν και να ορίσουν αντίστοιχα τις
  μεταβλητές-μέλη της κλάσης.
</div>
<div>
  Ένας τρόπος για να πάρουμε είσοδο από το χρήστη σε ένα πρόγραμμα είναι μέσω
  της κλάσης
  <input
    type="text"
    placeholder="Scanner"
    style="max-width: 8ch"
    name="ex4e"
  />.
</div>
<div>
  Ο
  <input type="text" name="ex4f" placeholder="λογικός" style="max-width: 7ch" />
  τελεστής
  <input
    type="text"
    name="ex4g"
    placeholder="ισότητας"
    style="max-width: 9ch"
  />
  συγκρίνει δύο τιμές μεταξύ τους και επιστρέφει
  <input type="text" name="ex4h" placeholder="true" style="max-width: 5ch" /> αν
  είναι ίσες.
</div>
<div>
  Ο
  <input
    type="text"
    placeholder="overloaded"
    style="max-width: 11ch"
    name="ex4i"
  />
  κατασκευαστής ορίζεται με
  <input
    type="text"
    placeholder="παραμέτρους"
    style="max-width: 12ch"
    name="ex4j"
  />
  και καλείται για την αρχικοποίηση του αντικειμένου με βάση αυτές.
</div>
