<div>
  Η
  <input
    type="text"
    placeholder="ενθυλάκωση"
    style="max-width: 11ch"
    name="ex4a"
  />
  είναι μια μέθοδος
  <input
    type="text"
    placeholder="απόκρυψης"
    style="max-width: 11ch"
    name="ex4b"
  />
  των μελών μιας κλάσης από άλλες κλάσεις, και η ομαδοποίηση τους σε μια ενιαία
  μονάδα. Για να επιτευχθεί χρείαζεται να δηλώσουμε τα επιθυμητά μέλη της κλάσης
  ως
  <input type="text" placeholder="private" style="max-width: 7ch" name="ex4c" />
  ή
  <input
    type="text"
    placeholder="protected"
    style="max-width: 9ch"
    name="ex4d"
  />. Αυτά τα μέλη μπορεί να είναι
  <input
    type="text"
    placeholder="προσβάσιμα"
    style="max-width: 12ch"
    name="ex4e"
  />
  εκτός της κλάσης με την χρήση
  <input
    type="text"
    placeholder="μεθόδων"
    style="max-width: 9ch"
    name="ex4f"
  />.
</div>
<div>
  Μια διεπαφή είναι μια πλήρως
  <input
    type="text"
    placeholder="αφηρημένη"
    style="max-width: 10ch"
    name="ex4g"
  />
  κλάση. Περιλαμβάνει μια ομάδα μεθόδων οι οποίες είναι χωρίς
  <input
    type="text"
    placeholder="υλοποίηση"
    style="max-width: 10ch"
    name="ex4h"
  />. Χρησιμοποιούμε τη λέξη-κλειδί
  <input
    type="text"
    placeholder="interface"
    style="max-width: 8ch"
    name="ex4i"
  />
  για να δημιουργήσουμε μια διεπαφή στη Java. Για παράδειγμα: <br /><br />
  <code
    ><input
      type="text"
      placeholder="interface"
      style="max-width: 8ch"
      name="ex4j"
    />
    ClassName
    <pre>
{
  public void MethodA(); 
  public void MethodB(); 
}</pre
    >
  </code>
</div>
