<div>
  Ο
  <input type="text" name="ex4a" placeholder="ατέρμων" style="max-width: 8ch" />
  βρόχος εμφανίζεται σε μία δομή
  <input
    type="text"
    name="ex4b"
    placeholder="επανάληψης"
    style="max-width: 11ch"
  />
  όταν δεν έχουμε λάβει υπόψη μας τη συνθήκη που θα σταματάει την επανάληψη.
</div>
<div>
  Σε μία δομή
  <input type="text" name="ex4c" placeholder="ελέγχου" style="max-width: 8ch" />
  ο κώδικας θα εκτελεστεί αν και μόνο αν η συνθήκη είναι
  <input type="text" name="ex4d" placeholder="αληθής" style="max-width: 7ch" />.
</div>
<div>
  Μια μεταβλητή είναι ένα
  <input
    type="text"
    name="ex4e"
    placeholder="σύμβολο"
    style="max-width: 8ch"
  />, ή μια
  <input
    type="text"
    name="ex4f"
    placeholder="συμβολοσειρά"
    style="max-width: 13ch"
  />
  που αντιπροσωπεύει μια τιμή, η οποία μπορεί κάποια στιγμή να αλλάξει.
</div>
<div>
  Ο
  <input type="text" name="ex4g" placeholder="λογικός" style="max-width: 7ch" />
  τελεστής
  <input
    type="text"
    name="ex4h"
    placeholder="ισότητας"
    style="max-width: 9ch"
  />
  συγκρίνει δύο τιμές μεταξύ τους και επιστρέφει
  <input type="text" name="ex4i" placeholder="true" style="max-width: 5ch" /> αν
  είναι ίσες.
</div>
<div>
  Τα
  <input type="text" name="ex4j" placeholder="σχόλια" style="max-width: 7ch" />
  αγνοούνται από το πρόγραμμα.
</div>
