<div>
  Οι μέθοδοι μιας κλάσης επιστρέφουν κάποια τιμή, εκτός αν είναι τύπου
  <input type="text" placeholder="void" style="max-width: 5ch" name="ex4a" />.
</div>
<div>
  Ένα πρόγραμμα ξεκινάει πάντα από την μέθοδο που ονομάζεται
  <input type="text" placeholder="main" style="max-width: 5ch" name="ex4b" />.
</div>
<div>
  Οι
  <input type="text" placeholder="getter" style="max-width: 6ch" name="ex4c" />
  και
  <input type="text" placeholder="setter" style="max-width: 6ch" name="ex4d" />
  μέθοδοι χρησιμοποιούνται για να επιστρέψουν και να ορίσουν αντίστοιχα τις
  <input
    type="text"
    placeholder="μεταβλητές"
    style="max-width: 11ch"
    name="ex4e"
  />-μέλη της κλάσης.
</div>
<div>
  Ο
  <input type="text" placeholder="default" style="max-width: 7ch" name="ex4f" />
  κατασκευαστής δεν δέχεται παραμέτρους και χρησιμοποιείται για την
  <input
    type="text"
    placeholder="αρχικοποίηση"
    style="max-width: 12ch"
    name="ex4g"
  />
  ενώς αντικειμένου.
</div>
<div>
  Ο
  <input
    type="text"
    placeholder="overloaded"
    style="max-width: 11ch"
    name="ex4h"
  />
  κατασκευαστής ορίζεται με
  <input
    type="text"
    placeholder="παραμέτρους"
    style="max-width: 12ch"
    name="ex4i"
  />
  και καλείται για την αρχικοποίηση του αντικειμένου με βάση αυτές.
</div>
<div>
  Ένας τρόπος για να πάρουμε είσοδο από το χρήστη σε ένα πρόγραμμα είναι μέσω
  της κλάσης
  <input
    type="text"
    placeholder="Scanner"
    style="max-width: 8ch"
    name="ex4j"
  />.
</div>
