<ul class="exam-links">
  <li><button id="exam-one-btn">Unit 1 test</button></li>
  <li><button id="exam-two-btn">Unit 2 test</button></li>
  <li><button id="exam-three-btn">Unit 3 test</button></li>
</ul>
<%- include('./one.ejs') %> 
<%- include('./two.ejs') %> 
<%- include('./three.ejs') %>
<button id="prev-exercise-btn">Back</button>
<button id="next-exercise-btn">Next</button>