<ul>
    <li><a href="/tests/one">Unit 1 test</a></li>
    <li><a href="/tests/two">Unit 2 test</a></li>
    <li><a href="/tests/three">Unit 3 test</a></li>
</ul>
<%- include('./one.ejs') %>
<%- include('./two.ejs') %>
<%- include('./three.ejs') %>