<h2>Unit 2 Test</h2>
<%- include('./_exerciseHeader.ejs') %>
<form action="/exams/two/2" method="post">
  <div id="exam-two">
    <div class="u2exercises true-false-container">
      <h3>Exercise 1</h3>
      <label for="tf1">Statement 1</label>
      <select id="tf1" name="ex1a">
        <option selected value=""></option>
        <option value="T">T</option>
        <option value="F">F</option>
      </select>
      <label for="tf2">Statement 2</label>
      <select id="tf2" name="ex1b">
        <option selected value=""></option>
        <option value="T">T</option>
        <option value="F">F</option>
      </select>
      <label for="tf3">Statement 3</label>
      <select id="tf3" name="ex1c">
        <option selected disabled value=""></option>
        <option value="T">T</option>
        <option value="F">F</option>
      </select>
      <label for="tf4">Statement 4</label>
      <select id="tf4" name="ex1d">
        <option selected value=""></option>
        <option value="T">T</option>
        <option value="F">F</option>
      </select>
      <label for="tf5">Statement 5</label>
      <select id="tf5" name="ex1e">
        <option selected value=""></option>
        <option value="T">T</option>
        <option value="F">F</option>
      </select>
    </div>

    <div class="u2exercises select-one-container">
      <h3>Exercise 2</h3>
      <div>
        <p>Statement 1</p>
        <label for="cba1">Option 1</label>
        <input id="cba1"" type="checkbox" name="ex2a" />
        <label for="cba2">Option 2</label>
        <input id="cba2" type="checkbox" name="ex2b" />
        <label for="cba3">Option 3</label>
        <input id="cba3" type="checkbox" name="ex2c" />
      </div>
      <div>
        <p>Statement 2</p>
        <label for="cbb1">Option 1</label>
        <input id="cbb1"" type="checkbox" name="ex2d" />
        <label for="cbb2">Option 2</label>
        <input id="cbb2" type="checkbox" name="ex2e" />
        <label for="cbb3">Option 3</label>
        <input id="cbb3" type="checkbox" name="ex2f" />
      </div>
      <div>
        <p>Statement 3</p>
        <label for="cbc1">Option 1</label>
        <input id="cbc1"" type="checkbox" name="ex2g" />
        <label for="cbc2">Option 2</label>
        <input id="cbc2" type="checkbox" name="ex2h" />
        <label for="cbc3">Option 3</label>
        <input id="cbc3" type="checkbox" name="ex2i" />
      </div>
      <div>
        <p>Statement 4</p>
        <label for="cbd1">Option 1</label>
        <input id="cbd1"" type="checkbox" name="ex2j" />
        <label for="cbd2">Option 2</label>
        <input id="cbd2" type="checkbox" name="ex2k" />
        <label for="cbd3">Option 3</label>
        <input id="cbd3" type="checkbox" name="ex2l" />
      </div>
      <div>
        <p>Statement 5</p>
        <label for="cbe1">Option 1</label>
        <input id="cbe1"" type="checkbox" name="ex2m" />
        <label for="cbe2">Option 2</label>
        <input id="cbe2" type="checkbox" name="ex2n" />
        <label for="cbe3">Option 3</label>
        <input id="cbe3" type="checkbox" name="ex2o" />
      </div>
    </div>

    <div class="u2exercises match-container">
      <h3>Exercise 3</h3>
      <select name="ex3a" id="">
        <option value="">A</option>
        <option value="">B</option>
        <option value="">C</option>
        <option value="">D</option>
        <option value="">E</option>
      </select>
      <select name="ex3b" id="">
        <option value="">A</option>
        <option value="">B</option>
        <option value="">C</option>
        <option value="">D</option>
        <option value="">E</option>
      </select>
      <select name="ex3c" id="">
        <option value="">A</option>
        <option value="">B</option>
        <option value="">C</option>
        <option value="">D</option>
        <option value="">E</option>
      </select>
      <select name="ex3d" id="">
        <option value="">A</option>
        <option value="">B</option>
        <option value="">C</option>
        <option value="">D</option>
        <option value="">E</option>
      </select>
      <select name="ex3e" id="">
        <option value="">A</option>
        <option value="">B</option>
        <option value="">C</option>
        <option value="">D</option>
        <option value="">E</option>
      </select>
    </div>

    <div class="u2exercises fill-gaps-container">
      <h3>Exercise 4</h3>
      <div>
        <input type="text" name="ex4a" id="" />
        <input type="text" name="ex4b" id="" />
        <input type="text" name="ex4c" id="" />
      </div>
      <div>
        <input type="text" name="ex4d" id="" />
        <input type="text" name="ex4e" id="" />
        <input type="text" name="ex4f" id="" />
      </div>
      <div>
        <input type="text" name="ex4g" id="" />
        <input type="text" name="ex4h" id="" />
        <input type="text" name="ex4i" id="" />
        <input type="text" name="ex4j" id="" />
      </div>
    </div>
  </div>
  <button type="submit" id="submit-exam-btn">Submit</button>
</form>
